---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import EventsSection from "@components/sections/EventsSection.astro";
---

<Layout title="Oxygen Gaming Eventos - Nuestros eventos">
  <main class="text-white">
    <Container>
      <EventsSection />
    </Container>
  </main>
</Layout>
