---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import EventsCarrousel from "@components/carrousels/EventsCarrousel.astro";
import Section from "@components/Section.astro";
---

<Layout title="Oxygen Gaming Eventos - Nuestros eventos">
  <main class="text-white">
    <Container>
      <section class="mt-20" id="events">
        <section id="events" >
          <div class="flex flex-col items-center justify-center">
            <div class="p-10 text-center flex justify-center items-center flex-col gap-[5vh]">
              <Section title="Nuestros Eventos" />
              <h2 class="text-[15px] p-[20px] font-syne-bold text-white w-[75%] lg:text-center text-justify">
                Nuestros eventos se caracterizan por ser una actividad de ocio para
                todo tipo de público en la que el asistente se sumerge en las últimas
                tecnologías de la mano del deporte tradicional.
              </h2>
            </div>
          </div>
          
          <div class="z-[-10] absolute inset-0 opacity-20 w-full mt-[100px]">
            <video autoplay muted loop class="w-full object-cover h-full md:h-[60%] ">
              <source src="./public/imgs/VideoInicio_Eventos.mp4" type="video/mp4" />
            </video>
          </div>
    
        
        <div class="grid grid-cols-1 items-center justify-center mt-[42vh] md:mt-[35vh] lg:mt-[30vh] mb-[100px]">
          <div class="col-span-1">
            <EventsCarrousel page="true" />
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>



