---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
import GamingCarrousel from "@components/carrousels/GamingCarrousel.astro";
import SportsCarrousel from "@components/carrousels/SportsCarrousel.astro";
---

<Layout title="Oxygen Gaming Eventos - Alquila equipamiento para tu evento">
  <main class="text-white">

      <div class="flex flex-col items-center justify-center">
        <div class="pt-[25vh] lg:pt-[15vh] text-center flex justify-center items-center flex-col gap-[5vh]">
          <Section title="Nuestros Eventos" />
          <h2 class="text-[15px] md:text-[30px] font-syne-bold text-white w-[75%] lg:text-center text-justify">
            Nuestros eventos se caracterizan por ser una actividad de ocio para
            todo tipo de público en la que el asistente se sumerge en las últimas
            tecnologías de la mano del deporte tradicional.
          </h2>
        </div>
      </div>

      <div class="z-[-10] absolute inset-0 opacity-20 w-full mt-[100px] md:h-[500px]">
        <video autoplay muted loop class="w-full object-cover h-full md:h-[80vh]">
          <source src="./public/imgs/VideoInicio_Eventos.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="md:mt-[100vh] min-[350px]:max-[360px]:mt-[320px]   max-[320px]:mt-[30vh] min-[330px]:max-[400px]:mt-[390px] lg:mt-[200px] min-[400px]:mt-[420px] min-[390px]:max-[400px]:mt-[390px] flex flex-col justify-center items-center">
          <h3 
            id="boton_catalogo"
            class="font-bold text-[40px] md:text-[50px] sm:mt-[-75vh] mt-[-100px] lg:mt-[5vh] flex justify-center text-center items-center">Videojuegos</h3>
          <div class="lg:mr-[30px]"  id="gaming">
            <GamingCarrousel />
          </div>

          <div class="bg-gradient-to-b from-[#020534] via-blue-400 to-[#020534] h-[30vh] w-full flex justify-center text-center items-center"> 
            <h3 
            id="boton_catalogo"
            class="font-bold text-[40px] md:text-[50px]">Deportes</h3>
          </div>

          <div id="sports">
            <SportsCarrousel></SportsCarrousel>
          </div>
      </div>
 
  </main>
</Layout>


