---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
import RentCarrousel from "@components/carrousels/RentCarrousel.astro";
---

<Layout title="Oxygen Gaming Eventos - Alquila equipamiento para tu evento">
  <main class="text-white">
    <Container>
      <Section title="¡Alquila equipos para tu evento!" />
      <RentCarrousel />
    </Container>
  </main>
</Layout>
