<section class="h-[20rem] flex flex-col items-center justify-center w-full lg:h-[102vh] overflow-x-hidden" id="hero">
	<div class="flex flex-col items-center justify-center h-full">
		
		<div class="text-center flex justify-center gap-[50px] h-[50%] items-center flex-col">
			<h2 class="font-sans text-6xl text-mainblue">Oxygen Gaming Eventos</h2>
      		<h2 class="font-sans text-3xl text-white">Innovación, Pasión y Diversión en un solo lugar.</h2>

		</div>
	</div>
	
	<div class="z-[-10] absolute inset-0 opacity-20 h-full w-full">
		<video autoplay muted loop class="w-[1850px] object-cover lg:h-[120vh]">
			<source src="/videos/VideoInicioEventos.mp4" type="video/mp4" />
		</video>
	</div>
</section>