<section class="mt-20" id="hero">
  <div class="flex flex-col items-center justify-center">
    <div class="bg-mainblue px-4 py-2 mx-3 rounded-full">
      <h1 class="text-2xl font-syne-medium font-semibold text-[#000232]">
        Organización de Ferias y eventos
      </h1>
    </div>
    <div class="p-10 text-center">
      <h2 class="text-5xl font-syne-bold text-white">
        Innovación, Pasión y Diversión en
      </h2>
      <h2 class="text-5xl font-syne-bold text-mainblue">un Solo Lugar.</h2>
      <p class="font-general-sans-regular text-[#CFD1FF] lg:px-20 px-5 mt-7">
        Nuestros eventos aportan todo lo necesario para disfrutar de jornadas
        con modelos de entretenimiento innovadores. Realizamos actividades
        adaptadas a todo tipo de público donde mostramos que el deporte
        tradicional y las nuevas tecnologías son perfectos aliados para trabajar
        el desarrollo físico y cognitivo de los niños y jóvenes.
      </p>
    </div>
  </div>
  <div
    class={"z-[-10] absolute inset-0 opacity-20 bg-[size:50%] bg-top bg-no-repeat h-auto"}
    style={`background-image:url('./imgs/event1.JPG')`}
  >
  </div>
</section>
