<section class="mt-[30vh]" id="hero">
	<div class="flex flex-col items-center justify-center">
		
		<div class="p-10 text-center flex justify-center items-center flex-col gap-[5vh]">
			<h2 class="font-sans text-6xl text-mainblue">Oxygen Gaming Eventos</h2>
      <h2 class="font-sans text-3xl text-white">
			Innovación, Pasión y Diversión en un solo lugar.
			</h2>

		</div>
	</div>
	
	<div class="z-[-10] absolute inset-0 opacity-20 h-auto w-full ">
		<video autoplay muted loop class="w-full h-[100%] object-cover ">
			<source src="./public/imgs/VideoInicioEventos.mp4" type="video/mp4" />
		</video>
	</div>
</section>
