---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ClientsSection from "@components/sections/ClientsSection.astro";
import SponsorSection from "@components/sections/SponsorSection.astro";
---

<Layout title="Oxygen Gaming Eventos - Nuestros clientes">
  <main class="text-white">
    <Container>
      <!-- <ClientsSection /> -->
      <SponsorSection />
    </Container>
  </main>
</Layout>
