---
const { name, img } = Astro.props;
---

<div
  class="min-w-full rounded-lg flex items-center justify-center p-2 hover:contrast-75 transition-all duration-300"
>
  <img
    class="rounded-lg lg:h-[220px] h-[200px] w-[250px]"
    src={`clientes_actualizados/${img}.webp`}
    alt={name}
    title={name}
  />
</div>
