---
import EventsPicsModal from "@components/modals/EventsPicsModal.astro";
const { name, img, date, description, images } = Astro.props;
---

<a href=`/eventos/evento/${name}` class="flex items-center justify-center w-full"> 
  <img
  class="rounded-t-lg aspect-square hover:animate-[pulse_1s_ease-in-out_1] w-[90%] transition-all duration-500 h-[55vh] lg:h-[60vh] sm:h-[110vh] md:h-[30rem]"
  src={`/events/${img}`}
  alt={name}
  />
</a>
<EventsPicsModal images={images} />


