---
import EventsPicsModal from "@components/modals/EventsPicsModal.astro";
const { name, img, date, description, images } = Astro.props;
---


<div> 
  <img
    class="rounded-t-lg aspect-square hover:animate-[pulse_1s_ease-in-out_1] w-full transition-all duration-500 h-[30vh] lg:h-[60vh] md:h-[30vh]"
    src={`events/${img}`}
    alt={name}
  />
</div>
<EventsPicsModal images={images} />


