---
import Section from "@components/Section.astro";
import ClientCard from "@components/cards/ClientCard.astro";
import {clients} from "@components/ClientsList.astro";
const clientes = clients.slice(14,20)

---

<section class=" mt-[200px] p-10 bg-white" id="clients">
  <Section title="Han confiado en nosotros" />
  <div class="grid grid-cols-1 items-center justify-center mt-5">
    <div class="col-span-1">
      <div class="swiper" id="clients-swiper">
        <div class="swiper-wrapper" id="-slider">
          {clientes.map(client => (
            <div class="swiper-slide" >
              <ClientCard name={client.name} img={client.img} />
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
import Swiper from "swiper";
import "swiper/css";
import { Autoplay,Navigation } from "swiper/modules";

new Swiper(".swiper", {
  modules: [Navigation, Autoplay],
  loop: true,
  slidesPerView: 3,
  spaceBetween: 10,
  centeredSlides: true,
  breakpoints: {
    10: {
      slidesPerView: 1,
      spaceBetween: 20,
    },
    768: {
      slidesPerView: 3,
      spaceBetween: 20,
    },
    1024: {
      slidesPerView: 3,
      spaceBetween: 30,
    }
  },
  autoplay: {
    delay: 3000,
    disableOnInteraction: false,
    pauseOnMouseEnter: false,
  },
});

</script>

<style>
.swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}
.swiper-slide img {
  width: 80%;
  height: auto;
  object-fit: cover;
}
</style>