---
import ClientsCarrousel from "@components/carrousels/ClientsCarrousel.astro";
---

<section class="mt-20" id="clients">
  <h1 class="font-syne-bold text-5xl text-mainblue text-center">
    Han confiado en nosotros
  </h1>
  <div class="grid grid-cols-1 items-center justify-center mt-5">
    <div class="col-span-1">
      <ClientsCarrousel />
    </div>
  </div>
</section>
