---
import ClientsCarrousel from "@components/carrousels/ClientsCarrousel.astro";
import Section from "@components/Section.astro";
import ClientCard from "@components/cards/ClientCard.astro";

const clients = [
  	{ name: "Concello de Lugo", img: "concellolugo" },
  	{ name: "Ayuntamiento de Gandía", img: "gandia" },
  	{ name: "Universidad Católica de Valencia", img: "ucv" },
  	{ name: "Universidad Miguel Hernandez", img: "um" },
  	{ name: "Ayuntamiento de Puçol", img: "puzol" },
  	{ name: "Ayuntamiento de Campos del Rio", img: "campos" },
	{ name: "Ayuntamiento de Casas Ibañez", img: "casasibanez" },
];
---




<section class="mt-[200px] p-10" id="clients">
  <Section title="Han confiado en nosotros" />
  <div class="grid grid-cols-1 items-center justify-center mt-5">
    <div class="col-span-1">
      <div class="swiper" id="clients-swiper">
        <div class="swiper-wrapper" id="-slider">
          {clients.map(client => (
            <div class="swiper-slide" >
              <ClientCard name={client.name} img={client.img} />
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
import Swiper from "swiper";
import "swiper/css";
import { Navigation, Autoplay } from "swiper/modules";
import "swiper/css/navigation";

new Swiper("#clients-swiper", {
  modules: [Navigation, Autoplay],
  loop: true,
  slidesPerView: 5,
  spaceBetween: 10,
  breakpoints: {
    768: {
      slidesPerView: 5,
      spaceBetween: 20,
    },
    1024: {
      slidesPerView: 6,
      spaceBetween: 30,
    },
  },
  autoplay: {
    delay: 3000,
    disableOnInteraction: false,
    pauseOnMouseEnter: false,
  },
});
</script>

<style>
.swiper-slide {
  border-radius: 10px;
  overflow: hidden;
}
.swiper-slide img {
  width: 80%;
  height: auto;
  object-fit: cover;
}
</style>