---
import EventsCarrousel from "@components/carrousels/EventsCarrousel.astro";
---

<section class="mt-20" id="events">
  <h1 class="font-syne-bold text-5xl text-mainblue text-center">
    Nuestros Eventos
  </h1>
  <h2 class="font-general-sans-regular text-[#CFD1FF] mt-7 text-center">
    Nuestros eventos se caracterizan por ser una actividad de ocio para todo
    tipo de público en la cual el asistente se sumerge en las últimas
    tecnologías de la mano del deporte tradicional.
  </h2>
  <h3 class="font-general-sans-regular text-[#CFD1FF] mt-7 text-center">
    Trabajamos en la realización de eventos para ayuntamientos, cumpleaños,
    jornadas de universidades y colegios, eventos de empresa.
  </h3>
  <div class="grid grid-cols-1 items-center justify-center mt-5">
    <div class="col-span-1">
      <EventsCarrousel />
    </div>
  </div>
</section>
