++---
const images = [
  { src: "/imgs/Competición_Foto.webp", text: "Competiciones" },
  { src: "/imgs/gamingxdeporte_Foto.webp", text: "Gaming X Deporte" },
  { src: "/imgs/Ponencias_Foto.webp", text: "Ponencias" },
];
---

<section class="lg:mt-[30vh] mt-12 w-[100%]" id="about">
	<div id="sobre_nosotros" class="!w-[100%] m-0 flex flex-col items-center justify-center">
		<div id="descripcion" class="w-full h-52 bg-white text-black text-lg font-bold text-center flex items-center justify-center">
			<span class="text-[30px]">CREAMOS EXPERIENCIAS QUE UNEN TECNOLOGÍA, VIDEOJUEGOS Y DEPORTE</span>
		</div>
		<div class="bg-[#1AA9FF] pt-[30px] pb-[30px] w-[100%] h-[60vh] grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
			{images.map((image, index) => (
			  <div class="relative group  overflow-hidden rounded-lg shadow-lg" id={`image-${index}`}>
				<img src={image.src} alt={`Imagen ${index + 1}`} class="w-full h-[100%]  object-cover transition-transform duration-300 group-hover:scale-110" />
				<div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center text-white text-xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
				  {image.text}
				</div>
			  </div>
			))}
		</div>
	</div>
</section>
