---
---

<section class="lg:mt-[30vh] mt-12 w-[100%]" id="about">
	<div
		id="sobre_nosotros"
		class="!w-[100%] m-0 flex flex-col items-center justify-center"
	>
		<div
			id="descripcion"
			class="w-full h-52 bg-white text-black text-lg font-bold text-center flex items-center justify-center"
		>
			<span class="text-[40px]">¿Que es lo que hacemos?</span>
		</div>

		<div
			id="c1"
			class="px-[10vh] w-full h-[650px] bg-[#1AA9FF] flex justify-center items-center gap-[15vh] shadow-lg"
		>
			<a href="" class="w-[100%] rounded-sm">
				<img
					src="/imgs/event2.webp"
					alt=""
					class="w-[75vh] h-[45vh] rounded-md shadow-lg transition-transform duration-300 ease-in-out hover:scale-110"
				/>
			</a>
			<div id="info1" class="text-white flex flex-col justify-center items-start gap-[25px] text-justify">
				<h3 class="text-5xl font-bold">Competición</h3>
				
				<p class="font-general-sans-regular text-[#ffffff] w-[100%]">
					El proyecto surge con el objetivo de fomentar la buena praxis de los
					deportes electrónicos creando un espacio sano, interactivo y entretenido
					para todos los públicos, buscando la sinergia perfecta entre el deporte
					y el Gaming.
				  </p>
				  <p class="font-general-sans-regular text-[#ffffff] w-[100%]">
					Nuestros eventos aportan todo lo necesario para disfrutar de jornadas
					con modelos de entretenimiento innovadores. Realizamos actividades
					adaptadas a todo tipo de público donde mostramos que el deporte
					tradicional y las nuevas tecnologías son perfectos aliados para trabajar
					el desarrollo físico y cognitivo de los niños y jóvenes.
				  </p>
				  <p class="font-general-sans-regular text-[#ffffff] w-[100%]">
					Cada vez más jóvenes y niños disfrutas de los deportes electrónicos y el
					mundo gaming, por lo que nuestro objetivo principal es mostrar que se
					pueden generar experiencias y emociones siempre bajo un uso responsable
					de los videojuegos. Esto sumado a los valores deportivos forman un
					tándem perfecto para disfrutar de una jornada llena de entretenimiento.
				  </p>
			</div>
		</div>

		<div
			id="c2"
			class="px-[10vh] w-full h-[650px] bg-white flex justify-center items-center gap-[15vh] shadow-lg"
		>
			<div id="info2" class="text-black flex flex-col gap-5 text-justify">
				<h3 class="text-5xl font-bold">Eventos</h3>
				<p class="font-general-sans-regular text-black w-[100%]">
					Cada vez más jóvenes y niños disfrutan de los deportes
					electrónicos y el mundo gaming, por lo que nuestro objetivo
					principal es mostrar que se pueden generar experiencias y
					emociones siempre bajo un uso responsable de los videojuegos. Esto
					sumado a los valores deportivos forman un tándem perfecto para
					disfrutar de una jornada llena de entretenimiento.
				</p>
			</div>
			<a href="" class="w-[100%] rounded-sm">
				<img
					src="/imgs/minigolf.webp"
					alt=""
					class="w-[75vh] h-[45vh] rounded-md shadow-lg transition-transform duration-300 ease-in-out hover:scale-110"
				/>
			</a>
		</div>

		
		
	</div>
</section>
