---
import SponsorsCarrousel from "@components/carrousels/SponsorsCarrousel.astro";
import Section from "@components/Section.astro";
---

<section class="mt-20 p-10" id="clients">
  <Section title="Marcas con las que hemos colaborado" />
  <div class="grid grid-cols-1 items-center justify-center mt-5">
    <div class="col-span-1">
      <SponsorsCarrousel />
    </div>
  </div>
</section>
