---
import DropDownMenuButton from "@components/navigation/DropDownMenuButton.astro";
const { name } = Astro.props;
---

<li>
  <button
    id="dropdownNavbarLink"
    data-dropdown-toggle="dropdownNavbar"
    class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 font-general-sans-regular hover:translate-y-1 transition-all ease-in duration-200"
    >{name}
    <svg
      class="w-2.5 h-2.5 ml-2.5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"></path>
    </svg></button
  >
  <!-- Dropdown menu -->
  <div
    id="dropdownNavbar"
    class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-400"
      aria-labelledby="dropdownLargeButton"
    >
      <DropDownMenuButton name="Alquiler" url="/alquiler" />
      <DropDownMenuButton name="Organización Eventos" url="/eventos" />
    </ul>
  </div>
</li>
