---
import Logo from "@components/Logo.astro";
import NavButton from "@components/navigation/NavButton.astro";
import GeneralButton from "@components/buttons/GeneralButton.astro";
import NavbarMobileButton from "@components/navigation/NavbarMobileButton.astro";
import DropDownButton from "@components/navigation/DropDownButton.astro";
---

<nav id="navbar" class="fixed w-full z-20 top-[0px] left-0 flex transition-all duration-300">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <Logo />
    <div class="flex md:order-2">
      <NavbarMobileButton />
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
      <ul class="flex flex-col p-4 mt-4 font-medium rounded-lg md:flex-row md:space-x-8 md:mt-0">
        <NavButton name="INICIO" url="/" />
        <NavButton name="SOBRE NOSOTROS" url="/about-us" />
        <NavButton name="EVENTOS" url="/eventos" />
        <NavButton name="CATÁLOGO" url="/catalogo" />
        <NavButton name="CLIENTES" url="/clientes" />
        <NavButton name="CONTACTO" url="/contacto" />
      </ul>
    </div>
  </div>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    const navButtons = document.getElementsByClassName("nav-button"); // Colección de elementos
    const menu_burguer = document.getElementById('menu_burguer')

    if (window.scrollY > 50) {
        navbar.classList.add("bg-white", "shadow-lg", "top-0");

        // Iterar sobre todos los botones para cambiar el color
        for (let button of navButtons) {
            button.style.color = "black";
        }
        menu_burguer.style.color = "black"
    } else {
        navbar.classList.remove("bg-white", "shadow-lg", "top-0");

        // Restaurar el color original (ajústalo según sea necesario)
        for (let button of navButtons) {
            button.style.color = ""; // Vuelve al color por defecto del CSS

            menu_burguer.style.color = ""
        }
    }
});


</script>
