---
const { name, url } = Astro.props;
---

<li class="relative group">
	<a
		href={url}
		class="block text-[20px] font-bold font-roboto py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 transition-all ease-in duration-200"
		aria-current="page">{name}</a
	>
	<span
		class="absolute left-0 bottom-0 w-0 h-1 bg-[#1AA9FF] transition-all duration-300 group-hover:w-full"
	></span>
</li>
