---
const { name, url } = Astro.props;
---

<li>
  <a
    href={url}
    class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:p-0 font-general-sans-regular hover:translate-y-1 transition-all ease-in duration-200"
    aria-current="page">{name}</a
  >
</li>
