---
import ClientCard from "@components/cards/ClientCard.astro";
---

<div class="grid lg:grid-cols-4 grid-cols-1">
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Albal" img="albal.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Alcala de Xivert" img="alcala.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Concello de Lugo" img="concellolugo.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="FALLA SANTA GENOVEVA" img="fallagenoveva.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="FALLA MORERA" img="fallamorera.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Gandía" img="gandia.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Universidad Católica de Valencia" img="ucv.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Universidad Miguel Hernandez" img="um.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Vinaros" img="vinaros.jpg" />
  </div>
</div>
