---
import ClientCard from "@components/cards/ClientCard.astro";
---

<div class="grid lg:grid-cols-4 grid-cols-1">
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Albal" img="albal" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Alcala de Xivert" img="alcala" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Concello de Lugo" img="concellolugo" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="FALLA SANTA GENOVEVA" img="fallagenoveva" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="FALLA MORERA" img="fallamorera" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Gandía" img="gandia" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Universidad Católica de Valencia" img="ucv" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Universidad Miguel Hernandez" img="um" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Vinaros" img="vinaros" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Alqueries" img="alqueries" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Nules" img="nules" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Gestalgar" img="gestalgar" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Meliana" img="meliana" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Puçol" img="puzol" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de San Joan de Moró" img="santjoanmoro" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Tales" img="tales" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Teulada" img="teulada" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Campos del Rio" img="campos" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Casas Ibañez" img="casasibanez" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Falla Arxiduc" img="FallaArxiduc" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Falla Montolivet" img="Montolivet" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Museros" img="museros" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de Naquera" img="naquera" />
  </div>
  <div class="col-span-1 p-4">
    <ClientCard name="Ayuntamiento de la Puebla de Híjar" img="puebla" />
  </div>
</div>
