---
import EventCard from "@components/cards/EventCard.astro";
const imagesAlbal = ["event1.webp", "event2.webp"];
---

<div class="grid lg:grid-cols-4 grid-cols-1">
  <div class="col-span-1 p-4">
    <EventCard name="EVENTO ALBAL" img="albal" images={imagesAlbal} />
  </div>
  <div class="col-span-1 p-4">
    <EventCard name="EVENTO GANDÃA" img="gandia" images={imagesAlbal} />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="FALLA PLAZA DE LA MORERIA"
      img="fallamoreria"
      images={imagesAlbal}
    />
  </div>
  <div class="col-span-1 p-4">
    <EventCard
      name="EVENTO UNIVERSIDAD CATOLICA DE VALENCIA"
      img="ucv"
      images={imagesAlbal}
    />
  </div>
</div>
