---
import RentCard from "@components/cards/RentCard.astro";
---

<div class="grid lg:grid-cols-4 grid-cols-1">
  <div class="col-span-1 p-4">
    <RentCard text="Playstation 5" img="ps5.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <RentCard text="Playstation 5" img="ps4.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <RentCard text="Realidad Virtual" img="rv.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <RentCard text="Bicicleta Zycle" img="bike.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <RentCard text="Nintendo WII" img="wii.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <RentCard text="Simulador conducción" img="conduccion.jpeg" />
  </div>
  <div class="col-span-1 p-4">
    <RentCard text="Nintendo Switch" img="switch.jpeg" />
  </div>
</div>
