---
import SponsorCard from "@components/cards/SponsorCard.astro";

const sponsors = [
  { name: "Arena Gaming", img: "Arena_Gaming" },
  { name: "CD Lugo", img: "CD_Lugo" },
  { name: "ESAT", img: "ESAT" },
  { name: "GBest", img: "Gbest" },
  { name: "GG Tech", img: "GG_Tech" },
  { name: "Goken", img: "Goken" },
  { name: "Jimmy Joy", img: "Jimmy_Joy" },
  { name: "Kabila", img: "Kabila" },
  { name: "Kelme", img: "Kelme" },
  { name: "Papanatas", img: "Papanatas" },
  { name: "Play Seat", img: "Playseat" },
  { name: "Progresa", img: "Progresa" },
  { name: "Red Bull", img: "Red_Bull" },
  { name: "Thrustmaster", img: "Thrustmaster" },
  { name: "Welme", img: "Welme" },
  { name: "Atribus", img: "atribus" },
  { name: "Arozzi", img: "arozzi" },
  { name: "Black Hat", img: "blackhat" },
];
---

<div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
  {sponsors.map((sponsor) => (
    <div class="col-span-1 p-4">
      <SponsorCard name={sponsor.name} img={sponsor.img} />
    </div>
  ))}
</div>
