---
import SponsorCard from "@components/cards/SponsorCard.astro";
---

<div class="grid lg:grid-cols-4 grid-cols-1">
  <div class="col-span-1 p-4">
    <SponsorCard name="Arena Gaming" img="Arena_Gaming.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="CD Lugo" img="CD_Lugo.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="ESAT" img="ESAT.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="GBest" img="Gbest.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="GG Tech" img="GG_Tech.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Goken" img="Goken.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Jimmy Joy" img="Jimmy_Joy.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Kabila" img="Kabila.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Kelme" img="Kelme.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Papanatas" img="Papanatas.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Play Seat" img="Playseat.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Progresa" img="Progresa.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Red Bull" img="Red_Bull.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Thrustmaster" img="Thrustmaster.png" />
  </div>
  <div class="col-span-1 p-4">
    <SponsorCard name="Welme" img="Welme.png" />
  </div>
</div>
