---
import SportCard from "@components/cards/SportCard.astro";

const items = [
  { text: "Balonmano", img: "BALONMANO_HORIZONTAL" },
  { text: "Fútbol Sala", img: "FUTBOL_SALA_HORIZONTAL" },
  { text: "Hockey", img: "HOCKEY_HORIZONTAL" },
  { text: "Minigolf", img: "MINIGOLF_HORIZONTAL" },
  { text: "Voleibol", img: "VOLLEYBALL_HORIZONTAL" }
];

---

<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {items.map((item) => (
    <div class="col-span-1 p-4">
      <SportCard text={item.text} img={item.img} />
    </div>
  ))}
</div>