---
import SportCard from "@components/cards/SportCard.astro";
import {items} from "@components/CatalogoList.astro";

const sports_items = items.slice(8)

---

<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {sports_items.map((item) => (
    <div class="col-span-1 p-4">
      <SportCard text={item.text} img={item.img} />
    </div>
  ))}
</div>