---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Section from "@components/Section.astro";
---
<div class="pt-[80px] sm:pt-[60px] md:pt-[30px]">
<Layout title="Oxygen Gaming Eventos - Sobre Nosotros">
    <main class="text-white">
        <section id="about">
            <div class="flex flex-col items-center justify-center h-[100vh]">
                <div class="p-10 text-center flex justify-center items-center flex-col gap-[5vh] mb-[40vh]">
                  <Section title="Sobre Nosotros" />
                </div>
              </div>
              
              <div class="z-[-10] absolute inset-0 opacity-20 w-full mt-[100px] ">
                <img src="../../../public/imgs/header_catalogo.webp" alt="">
              </div>
            <div id="sobre_nosotros" class="flex flex-col items-center justify-center mt-[30px]">
                <!-- Sección 1 -->
                <div class="w-full bg-blue-500 flex flex-col md:flex-row justify-center items-center gap-10 h-auto md:h-[600px] shadow-lg p-8">
                    <img class="max-w-[600px] w-full h-[15rem] md:h-[300px] md:w-[400px] sm:h-[300px] object-cover rounded-lg transform transition-transform duration-300 hover:scale-110 shadow-lg" src="/imgs/event3.webp" alt="">
                    <div class="flex flex-col justify-center text-white text-justify text-[18px] w-full md:w-1/2 p-4 md:p-8">
                        <h2 class="text-2xl font-bold mb-4">Líderes en Innovación y Crecimiento</h2>
                        <span class="lg:w-[80%]">Somos la sección de eventos de Oxygen Gaming, club de deportes electrónicos que se encuentra entre los líderes en innovación y crecimiento del sector en España.</span>
                    </div>
                </div>
        
                <!-- Sección 2 -->
                <div class="w-full bg-white flex flex-col-reverse md:flex-row justify-center items-center gap-10 h-auto md:h-[600px] shadow-lg p-8">
                    <div class="flex flex-col justify-center text-black text-justify text-[18px] w-full md:w-1/2 p-4 md:p-8">
                        <h2 class="text-2xl font-bold mb-4">Fomentando la Buena Praxis</h2>
                        <span>Ante el aumento exponencial del interés de la gente joven por las nuevas tecnologías, el proyecto surge con el objetivo de fomentar la buena praxis de los deportes electrónicos creando un espacio sano, interactivo y entretenido para todos los públicos, buscando la sinergia perfecta entre el deporte y el Gaming.</span>
                    </div>
                    <img class="max-w-[600px] w-full h-auto md:h-[300px] md:w-[400px] sm:h-[300px] object-cover rounded-lg transform transition-transform duration-300 hover:scale-110 shadow-lg" src="/imgs/event6.webp" alt="">
                </div>
        
                <!-- Sección 3 -->
                <div class="w-full bg-blue-500 flex flex-col md:flex-row justify-center items-center gap-10 h-auto md:h-[600px] shadow-lg p-8">
                    <img class="max-w-[600px] w-full h-auto md:h-[300px] md:w-[400px] sm:h-[300px] object-cover rounded-lg transform transition-transform duration-300 hover:scale-110 shadow-lg" src="/imgs/event5.webp" alt="">
                    <div class="flex flex-col justify-center text-white text-justify text-[18px] w-full md:w-1/2 p-4 md:p-8">
                        <h2 class="text-2xl font-bold mb-4">Innovación en Entretenimiento</h2>
                        <span class="lg:w-[90%]">Nuestros eventos aportan todo lo necesario para disfrutar de jornadas con modelos de entretenimiento innovadores. Realizamos actividades adaptadas a todo tipo de público donde mostramos que el deporte tradicional y las nuevas tecnologías son perfectos aliados para trabajar el desarrollo físico y cognitivo de los niños y jóvenes.</span>
                    </div>
                </div>
        
                <!-- Sección 4 -->
                <div class="w-full bg-white flex flex-col-reverse md:flex-row justify-center items-center gap-10 h-auto md:h-[600px] shadow-lg p-8">
                    <div class="flex flex-col justify-center text-black text-justify text-[18px] w-full md:w-1/2 p-4 md:p-8">
                        <h2 class="text-2xl font-bold mb-4">Experiencias y Emociones Responsables</h2>
                        <span>Cada vez más jóvenes y niños disfrutan de los deportes electrónicos y el mundo gaming, por lo que nuestro objetivo principal es mostrar que se pueden generar experiencias y emociones siempre bajo un uso responsable de los videojuegos. Esto sumado a los valores deportivos forman un tándem perfecto para disfrutar de una jornada llena de entretenimiento.</span>
                    </div>
                    <img class="max-w-[600px] w-full h-auto md:h-[300px] md:w-[400px] sm:h-[300px] object-cover rounded-lg transform transition-transform duration-300 hover:scale-110 shadow-lg" src="/imgs/event4.webp" alt="">
                </div>
            </div>
        </section>
    </main>
</div>
</Layout>
