---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import AboutSection from "@components/sections/AboutSection.astro";
---

<Layout title="Oxygen Gaming Eventos - Sobre Nosotros">
  <main class="text-white md:-mt-44">
    <Container>
      <AboutSection />
    </Container>
  </main>
</Layout>
