---
import Navbar from "@components/navigation/Navbar.astro";
---

<header class="flex item-center m-auto w-full py-6 px-4 gap-x-8 md:h-28">
  <div class="flex md:flex-col h-full md:gap-4 w-full justify-between">
    <Navbar />
  </div>
</header>
